<div class="tela-login">
  <div class="container-login">
    <h1 class="titulo-viceri">Viceri-SEIDOR</h1>

    <form [formGroup]="formLogin" (ngSubmit)="onLogin()" class="formulario" novalidate>
      <h2>Entrar</h2>

      <div class="input-group">
        <input type="email" formControlName="email" placeholder="E-mail" />
        <div *ngIf="formLogin.get('email')?.touched && formLogin.get('email')?.invalid" class="error">
          <small *ngIf="formLogin.get('email')?.errors?.['required']">E-mail é obrigatório.</small>
          <small *ngIf="formLogin.get('email')?.errors?.['email']">Formato de e-mail inválido.</small>
        </div>
      </div>

      <div class="input-group">
        <input type="password" formControlName="senha" placeholder="Senha" />
        <div *ngIf="formLogin.get('senha')?.touched && formLogin.get('senha')?.invalid" class="error">
          <small>Senha é obrigatória.</small>
        </div>
      </div>

      <button type="submit" [disabled]="formLogin.invalid">Entrar</button>
    </form>



    <p class="cadastro">
      Não tem conta?
      <a (click)="enviaCadastro()">Cadastre-se</a>
    </p>
  </div>
</div>